.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  border-radius: 8px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: var(--white, #fff);
  padding: 16px 32px;
  width: 100%;
  p {
    color: var(--black, #191919);
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    line-height: 24px; /* 133.333% */
  }

  .control-input {
    outline: none;
    flex-grow: 1;
    padding: 13px 40px;
    border-radius: 6px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: #fff;
  }

  .btn-search {
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background: var(--primary, #ff7010);
    padding: 13px 32px;
    border: 1px solid #ff7010;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
}

@media(max-width:800px){
  .search{
    flex-direction: column;
  }
}