.cardlist {
  background-color: #ff7010 !important;
}
.cardlist .title {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}