#home {
  padding-top: 90px;
}

.home {
  background: var(--background-gray, #f9f9f9) !important;
  display: flex;
  gap: 20px;
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
  }
}